$time-button: #D9E8FF;
$more-button: #FED74B;
$more-button-border: #CBA500;
$medium-purple: #7553FF;
$mild-blue: #D9E8FF;

$dark-grey: #404040;
$medium-grey: #4B4B4B;
$light-grey: #9E9E9E;
$font: 'Open Sans';